{% extends 'userPortfolio/base.html' %}

{% block title %} {{ username_apos }} Portfolion Manager {% endblock %}

{% block body_block %}

<script src="http://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css">


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $.ajax({
      type: "GET",
      url: "/userPortfolio/stock_plot/?stock=GOOGL",
      success: function(data) {
        $("#stock-plot").html(data);
      }
    });
  });
</script>

{{ div | safe }}
{{ script | safe }}

  <div class="content">
    <h2> Transactions </h2>
      {% autoescape off %}{{ transaction_table }}{% endautoescape %}

  <!-- </div>
  <div id="stock-plot" class="content"><div> -->


{% endblock %}